<div>
    <br><br>
    <h1 align="center">{{title}}</h1>
    <br>
    <form>
        <div class="border container">
            <br>
            <div class="mb-3 container">
                <label for="email">Email</label>
                <input type="text" class="form-control" placeholder="Email" name="user" [(ngModel)]="user">
            </div>
            <div class="mb-3 container">
                <label for="Contraseña">Contraseña</label>
                <input type="password" name="password" class="form-control" placeholder="contraseña" [(ngModel)]="password">
            </div>
            <div class="container div">
                <button type="button" class="btn btn-warning" (click)="validarLogin()">Ingresar</button>
            </div>
            <br>
        </div>
    </form>
</div>