<br><br>
<h1 align="center">{{title}}</h1>
<br>
<form>
    <div class="border container">
        <br>
        <div class="mb-3 container">
            <label for="email">Email</label>
            <input type="text" class="form-control" placeholder="Email" name="email" >
        </div>
        <div class="mb-3 container">
            <label for="Contraseña">Contraseña</label>
            <input type="password" name="contraseña" class="form-control" placeholder="contraseña" >
        </div>
        <div class="container div">
            <button type="button" class="btn btn-warning">Ingresar</button>
        </div>
        <br>
    </div>
</form>
